{% extends 'main.html' %}
{% load staticfiles %}
{% block article %}
<h5 align="center">Выбери в каком конкурсе хочешь участвовать!</h5>
<p align="center"><img src="{%static "pone.png"%}" width="60%" height="50%" ></p>
<p align="center">Результаты через 5 дней (09.04.2017)</p>
<p align ="center"><a href="/nice/"><input type="button" class="button" value="IPhone 5S"><input type="button" class="button" value="IPhone 6"><input type="button" class="button" value="IPhone 6 Plus"></a></p>

{% endblock %}
